:root {
    --bg-color: #12181f;
    --text-color: #a3aab4;

    --accent-1: #3dcdda;
    --accent-2: #d0fa00;

    --font-titles: 'Bitcount Grid Double', system-ui;
    --font-retro: 'Jersey 25', sans-serif;

    --shadow-retro: 4px 4px 0px var(--accent-1);
    --border-pixel: 2px solid var(--accent-1);
    --radius: 4px;

    --spacing-unit: 8px;
    --container-padding: 20px;

    --glow-cyan: 0 0 10px rgba(0, 255, 204, 0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-retro), sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: var(--accent-1);
    font-family: var(--font-titles);
}

a {
    text-decoration: none;
    font-family: var(--font-retro);
    color: var(--text-color);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--accent-2);
}

ul {
    list-style-type: none;
}

header {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--accent-1);
    padding: var(--container-padding);
    position: sticky;
    top: 0;
    z-index: 100;
} 

.logo {
    max-width: 80px;
}

nav ul{
    display: flex;
    gap: var(--container-padding);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    border-top: 1px solid var(--accent-1);
    margin-top: var(--container-padding);
}

@media (max-width: 768px) {
    header {
        flex-direction: column; /* Apila logo, título y nav */
        gap: 15px;
        padding: var(--container-padding);
    }

    nav ul { /* Los enlaces uno debajo de otro */
        align-items: center;
        gap: 10px;
    }

    footer {
        flex-direction: column;
        gap: 15px;
        padding: var(--container-padding);
    }


}